@font-face {
    font-family: 'SegoeUI';
    src: url('fonts/SegUIVar.ttf') format('ttf'),
}
body {
    font-family: "SegoeUI", sans-serif;
    text-align: center;
    background-color: rgb(158, 92, 128);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
a:link {
    color: #c7ceff;
}
a:visited {
    color: #cbd2ff;
}
a:hover {
    color: #8d8ead;
}
h2 {
    font-size: 1.5em;
    color: #f0f0f0;
}
time {
    font-size: 1.2em;
    font-style: italic;
    color: #f0f0f0;
}
.bottom {
    text-align: center;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}
@media (max-width: 600px) {
    body {
        font-size: smaller;
    }
}
.links {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between links */
    margin-bottom: 20px; /* Add spacing below the links section */
}

.responsive-img {
    display: block;
    margin: 20px auto; /* Center the image and add spacing */
}

a {
    display: inline-block;
    margin: 10px 0; /* Add spacing around links */
}