@font-face {
    font-family: 'SegoeUI';
    src: url('fonts/SegUIVar.ttf') format('ttf'),
}
body {
    font-family: "SegoeUI", sans-serif;
    text-align: center;
    background-color: rgb(158, 92, 128);
    color: white;
    a:link {
        color: #c7ceff;
    }

    a:visited {
    color: #cbd2ff;
    }

    a:hover {
        color: #8d8ead;
    }
}
h2 {
    font-size: 1.5em;
    color: #f0f0f0;
}
time {
    font-size: 1.2em;
    font-style: italic;
    color: #f0f0f0;
}
bold {
    font-weight: bold;
    font-size:1.3em;
}
.bottom {
    text-align: center;
    width: 100%;
}